force-app/main/default/flows/Contrato_Asignaci_n_de_Fechas_de_Creaci_n_y_Cierre.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Fecha_de_finalizaci_n_del_Contrato</name>
        <label>Fecha de finalización del Contrato</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Oportunidad.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Meses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Meses</name>
        <label>Meses</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculoMeses</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Setear_la_fecha_de</name>
        <label>Fecha de creación del Contrato</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Oportunidad</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalculoMeses</name>
        <dataType>Number</dataType>
        <expression>(YEAR({!$Record.EndDate}) - YEAR({!$Record.StartDate})) * 12 + (MONTH({!$Record.EndDate}) - MONTH({!$Record.StartDate}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contrato: Asignación de Fechas de Creación y Cierre. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contrato: Asignación de Fechas de Creación y Cierre.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Oportunidad</name>
        <label>Obtener Oportunidad</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fecha_de_finalizaci_n_del_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Setear_la_fecha_de</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
