force-app/main/default/flows/Cotizaci_n_Enviar_Correo_Electr_nico_Cotizaciones_Vencidas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificaci_n_Vencimiento_de_Cotizaci_n</name>
        <label>Notificación Vencimiento de Cotización</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Cotizaci_n__c.Notifica_a_un_Gerente_cuando_una_Cotizaci_n_Venci</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Cotizaci_n__c.Notifica_a_un_Gerente_cuando_una_Cotizaci_n_Venci</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Es_la_fecha_de_vencimiento_es_el_d_a_de_hoy</name>
        <label>¿Es la fecha de vencimiento ES el día de hoy?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fecha_de_Vencimiento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FechaTODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notificaci_n_Vencimiento_de_Cotizaci_n</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FechaTODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Cotización: Enviar Correo Electrónico Cotizaciones Vencidas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotización: Enviar Correo Electrónico Cotizaciones Vencidas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Es_la_fecha_de_vencimiento_es_el_d_a_de_hoy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado_Cotizaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </filters>
        <object>Cotizaci_n__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-20</startDate>
            <startTime>10:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
