force-app/main/default/flows/Cotizaci_n_Enviar_valores_a_Oportunidad_cuando_se_sincroniza.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Correo_Cotizaci_n_Aprobada</name>
        <label>Correo: Cotización Aprobada</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <actionName>Cotizaci_n__c.Cotizacion_Aprobada</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>A_qu_cambi_el_Sincronizador</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Cotizaci_n__c.Cotizacion_Aprobada</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>NumeroVacio</name>
        <dataType>Number</dataType>
    </constants>
    <customErrors>
        <name>Notificar_Error</name>
        <label>Notificar Error</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <customErrorMessages>
            <errorMessage>Ya existe una Cotización Sincronizada.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>A_qu_cambi_el_Sincronizador</name>
        <label>¿A qué cambió el Sincronizador?</label>
        <locationX>512</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambi_a_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sincronizar_Cotizaci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sincronizar_Cotizaci_n__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_existe_una_cotizaci_n_Sincronizada</targetReference>
            </connector>
            <label>Cambió a True</label>
        </rules>
        <rules>
            <name>Cambi_a_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sincronizar_Cotizaci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sincronizar_Cotizaci_n__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Valores_de_Oportunidad_Limpiar</targetReference>
            </connector>
            <label>Cambió a False</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identifica si la Cotización cambió a Aprobada. para después enviar Plantilla de correo</description>
        <name>Aprobacion_de_Cotizacion</name>
        <label>Aprobación de Cotización</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>A_qu_cambi_el_Sincronizador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_a_Aprobada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_Cotizaci_n__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_Cotizaci_n__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correo_Cotizaci_n_Aprobada</targetReference>
            </connector>
            <label>¿Cambió a Aprobada?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_existe_una_cotizaci_n_Sincronizada</name>
        <label>¿Ya existe una cotización Sincronizada?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Notificar_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Oportunidad.Conteo_Cotizaci_n_Sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Valores_de_Oportunidad_Poner</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Enviaa valores a Oportunidad cuando se sincroniza/desincroniza
Envía Alerta de correo a Propietario de la Oportunidad, cuando se Aprueba la Cotización</description>
    <environments>Default</environments>
    <interviewLabel>Cotización: Enviar valores a Oportunidad cuando se sincroniza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cotización: Proceso Sincronización y Alerta de correo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Oportunidad</name>
        <label>Obtener Oportunidad</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aprobacion_de_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Nombre_del_Proyecto__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Valores_de_Oportunidad_Limpiar</name>
        <label>Actualizar Valores de Oportunidad - Limpiar</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
        </inputAssignments>
        <inputAssignments>
            <field>C_digo_de_Cotizaci_n__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Ofertada__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_ltima_Revisi_n__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_Pesos_COP__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Ingenieros_de_Ofertas__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Margen_de_Venta__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_Cotizaci_n__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Sin_IVA_Pesos__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Valores_de_Oportunidad_Poner</name>
        <label>Actualizar Valores de Oportunidad - Poner</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Oportunidad.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Valor_Total_Cotizaci_n_Pesos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_digo_de_Cotizaci_n__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_ltima_Revisi_n__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_Pesos_COP__c</field>
            <value>
                <elementReference>$Record.IVA_Pesos_COP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ingenieros_de_Ofertas__c</field>
            <value>
                <elementReference>$Record.Ingeniero_de_Ofertas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margen_de_Venta__c</field>
            <value>
                <elementReference>$Record.Margen_de_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sync_Cotizaci_n__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Sin_IVA_Pesos__c</field>
            <value>
                <elementReference>$Record.Total_Cotizacion_Pesos_SinIVa__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Oportunidad</targetReference>
        </connector>
        <object>Cotizaci_n__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
