force-app/main/default/flows/Crea_Cotizacion_Sin_respetar_Colaboracion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Para que se puedan crear cotizaciones sin necesidad de dar acceso a la oportunidad</description>
    <dynamicChoiceSets>
        <name>IngenieroOfertas</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ingeniero_de_Ofertas__c</picklistField>
        <picklistObject>Cotizaci_n__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vigencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vigencia__c</picklistField>
        <picklistObject>Cotizaci_n__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Crea Cotización - Sin respetar la Colaboración {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Cotización - Sin respetar la Colaboración</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Registro_Cotizacion</name>
        <label>Crea Registro de Cotización</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Descripci_n_Detallada_Componentes_EUR__c</field>
            <value>
                <elementReference>Descripci_n_Detallada_Componentes_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripci_n_Detallada_Componentes_Peso__c</field>
            <value>
                <elementReference>Descripcion_Detallada_Componentes_COP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripci_n_Detallada_Componentes_USD__c</field>
            <value>
                <elementReference>Descripci_n_Detallada_Componentes_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_D_lares_USD__c</field>
            <value>
                <elementReference>IVA_D_lares_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_Euros_EUR__c</field>
            <value>
                <elementReference>IVA_Euros_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_Pesos_COP__c</field>
            <value>
                <elementReference>IVA_Pesos_COP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ingeniero_de_Ofertas__c</field>
            <value>
                <elementReference>Ingeniero_de_Ofertas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margen_de_Venta__c</field>
            <value>
                <elementReference>Margen_de_la_venta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_Proyecto__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRM_COP__c</field>
            <value>
                <elementReference>TRM_COP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRM_EUR__c</field>
            <value>
                <elementReference>TRM_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRM_USD__c</field>
            <value>
                <elementReference>TRM_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Componentes_COP_Sin_IVA__c</field>
            <value>
                <elementReference>Valor_Componentes_COP_Sin_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Componentes_EUR_Sin_IVA__c</field>
            <value>
                <elementReference>Valor_Componentes_EUR_Sin_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Componentes_USD_Sin_IVA__c</field>
            <value>
                <elementReference>Valor_Componentes_USD_Sin_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vigencia__c</field>
            <value>
                <elementReference>Vigencia2</elementReference>
            </value>
        </inputAssignments>
        <object>Cotizaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtiene_Cotizacion_por_crear</name>
        <label>Obtiene Cotización por crear</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Registro_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotizaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Oportunidad</name>
        <label>Obtiene Oportunidad</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Crea_Cotizacion</name>
        <label>Crea Cotización</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Obtiene_Cotizacion_por_crear</targetReference>
        </connector>
        <fields>
            <name>Informacion_General</name>
            <fieldText>Información General</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacion_General_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Margen_de_la_venta</name>
                    <dataType>Number</dataType>
                    <fieldText>Margen de la venta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Vigencia2</name>
                    <choiceReferences>Vigencia</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Vigencia2</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacion_General_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ingeniero_de_Ofertas</name>
                    <choiceReferences>IngenieroOfertas</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ingeniero de Ofertas</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Componentes_Pesos_COP</name>
            <fieldText>Componentes Pesos COP</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Componentes_Pesos_COP_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Descripcion_Detallada_Componentes_COP</name>
                    <fieldText>Descripción Detallada Componentes COP</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IVA_Pesos_COP</name>
                    <dataType>Number</dataType>
                    <fieldText>IVA Pesos (COP)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>TRM_COP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>TRM COP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Componentes_Pesos_COP_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valor_Componentes_COP_Sin_IVA</name>
                    <dataType>Number</dataType>
                    <fieldText>Valor Componentes COP (Sin IVA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Componentes_Dolares_USD</name>
            <fieldText>Componentes Dólares USD</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Componentes_Dolares_USD_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Descripci_n_Detallada_Componentes_USD</name>
                    <fieldText>Descripción Detallada Componentes USD</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IVA_D_lares_USD</name>
                    <dataType>Number</dataType>
                    <fieldText>IVA Dólares (USD)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>TRM_USD</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>TRM USD</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Componentes_Dolares_USD_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valor_Componentes_USD_Sin_IVA</name>
                    <dataType>Number</dataType>
                    <fieldText>Valor Componentes USD (Sin IVA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Componentes_euros_EUR</name>
            <fieldText>Componentes euros EUR</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Componentes_euros_EUR_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Descripci_n_Detallada_Componentes_EUR</name>
                    <fieldText>Descripción Detallada Componentes EUR</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IVA_Euros_EUR</name>
                    <dataType>Number</dataType>
                    <fieldText>IVA Euros (EUR)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>TRM_EUR</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>TRM EUR</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Componentes_euros_EUR_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valor_Componentes_EUR_Sin_IVA</name>
                    <dataType>Number</dataType>
                    <fieldText>Valor Componentes EUR (Sin IVA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;Crea Totización&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Oportunidad</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
