force-app/main/default/flows/Crea_Cotizacion_Sin_respetar_Colaboracion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Para que se puedan crear cotizaciones sin necesidad de dar acceso a la oportunidad</description>
    <dynamicChoiceSets>
        <name>IngenieroOfertas</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ingeniero_de_Ofertas__c</picklistField>
        <picklistObject>Cotizaci_n__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Vigencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vigencia__c</picklistField>
        <picklistObject>Cotizaci_n__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Crea Cotización - Sin respetar la Colaboración {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Cotización - Sin respetar la Colaboración</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Registro_Cotizacion</name>
        <label>Crea Registro de Cotización</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Obtener_Name_Cotizacion_Creada</targetReference>
        </connector>
        <inputAssignments>
            <field>Descripci_n_Detallada_Componentes_EUR__c</field>
            <value>
                <elementReference>Descripci_n_Detallada_Componentes_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripci_n_Detallada_Componentes_Peso__c</field>
            <value>
                <elementReference>Descripcion_Detallada_Componentes_COP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Descripci_n_Detallada_Componentes_USD__c</field>
            <value>
                <elementReference>Descripci_n_Detallada_Componentes_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_D_lares_USD__c</field>
            <value>
                <elementReference>IVA_D_lares_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_Euros_EUR__c</field>
            <value>
                <elementReference>IVA_Euros_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_Pesos_COP__c</field>
            <value>
                <elementReference>IVA_Pesos_COP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ingeniero_de_Ofertas__c</field>
            <value>
                <elementReference>Ingeniero_de_Ofertas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margen_de_Venta__c</field>
            <value>
                <elementReference>Margen_de_la_venta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_Proyecto__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRM_COP__c</field>
            <value>
                <elementReference>TRM_COP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRM_EUR__c</field>
            <value>
                <elementReference>TRM_EUR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRM_USD__c</field>
            <value>
                <elementReference>TRM_USD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Componentes_COP_Sin_IVA__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Componentes_EUR_Sin_IVA__c</field>
            <value>
                <elementReference>Valor_Componentes_EUR_Sin_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Componentes_USD_Sin_IVA__c</field>
            <value>
                <elementReference>Valor_Componentes_USD_Sin_IVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vigencia__c</field>
            <value>
                <elementReference>Vigencia2</elementReference>
            </value>
        </inputAssignments>
        <object>Cotizaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Elemento para obtener el Name (Folio) de la cotización creada con el flow.</description>
        <name>Obtener_Name_Cotizacion_Creada</name>
        <label>Obtener Name Cotización Creada</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mensaje_de_exito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crea_Registro_Cotizacion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotizaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Cotizacion_por_crear</name>
        <label>Obtiene Cotización por crear</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Registro_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotizaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtiene_Oportunidad</name>
        <label>Obtiene Oportunidad</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Cotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Crea_Cotizacion</name>
        <label>Crea Cotización</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Obtiene_Cotizacion_por_crear</targetReference>
        </connector>
        <fields>
            <name>Informacion_General</name>
            <fieldText>Información General</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informacion_General_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Margen_de_la_venta</name>
                    <dataType>Number</dataType>
                    <fieldText>Margen de la venta</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(186, 5, 23); font-size: 12px; background-color: rgb(251, 243, 224);&quot;&gt;Margen de Venta: valor fuera del rango válido en campo porcentaje. Longitud 2 y 1 decimal.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>VALUE(TEXT({!Margen_de_la_venta})) &lt;= 99.9</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Vigencia2</name>
                    <choiceReferences>Vigencia</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Vigencia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informacion_General_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ingeniero_de_Ofertas</name>
                    <choiceReferences>IngenieroOfertas</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ingeniero de Ofertas</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Componentes_Pesos_COP</name>
            <fieldText>Componentes Pesos COP</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Componentes_Pesos_COP_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Descripcion_Detallada_Componentes_COP</name>
                    <fieldText>Descripción Detallada Componentes COP</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IVA_Pesos_COP</name>
                    <dataType>Number</dataType>
                    <fieldText>IVA Pesos (COP)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Valor IVA Pesos (COP): valor fuera del rango válido en campo de tipo numérico: longitud 10 y 0 decimal.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN (TEXT({!IVA_Pesos_COP})) &lt;= 10</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TRM_COP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>TRM COP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;TRM COP: valor fuera del rango válido en campo de tipo numérico: longitud 15 y 0 decimal.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
    REGEX(TEXT({!TRM_COP}), &quot;^[0-9]{1,15}$&quot;),
    {!TRM_COP} &lt;= 999999999999999
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Componentes_Pesos_COP_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valor_Componentes_COP_Sin_IVA</name>
                    <dataType>Number</dataType>
                    <fieldText>Valor Componentes COP (Sin IVA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Valor Componentes COP (Sin IVA): valor fuera del rango válido en campo de tipo numérico: longitud 15 y 0 decimal.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!Valor_Componentes_COP_Sin_IVA}))&lt;=15</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Componentes_Dolares_USD</name>
            <fieldText>Componentes Dólares USD</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Componentes_Dolares_USD_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Descripci_n_Detallada_Componentes_USD</name>
                    <fieldText>Descripción Detallada Componentes USD</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IVA_D_lares_USD</name>
                    <dataType>Number</dataType>
                    <fieldText>IVA Dólares (USD)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;IVA Dólares (USD): valor fuera del rango válido en campo de tipo numérico: longitud 10 y 0 decimal.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN (TEXT({!IVA_D_lares_USD}))&lt;=10</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TRM_USD</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>TRM USD</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;TRM USD: valor fuera del rango válido en campo de tipo numérico: longitud 15 y 0 decimal.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
    REGEX(TEXT({!TRM_USD}), &quot;^[0-9]{1,15}$&quot;),
    {!TRM_USD} &lt;= 999999999999999
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Componentes_Dolares_USD_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valor_Componentes_USD_Sin_IVA</name>
                    <dataType>Number</dataType>
                    <fieldText>Valor Componentes USD (Sin IVA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Valor Componentes USD (Sin IVA): valor fuera del rango válido en campo de tipo numérico: longitud 15 y 0 decimal.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!Valor_Componentes_USD_Sin_IVA}))&lt;=15</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Componentes_euros_EUR</name>
            <fieldText>Componentes euros EUR</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Componentes_euros_EUR_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Descripci_n_Detallada_Componentes_EUR</name>
                    <fieldText>Descripción Detallada Componentes EUR</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>IVA_Euros_EUR</name>
                    <dataType>Number</dataType>
                    <fieldText>IVA Euros (EUR)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;IVA Euros (EUR): valor fuera del rango válido en campo de tipo numérico: longitud 10 y 0 decimal.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!IVA_Euros_EUR}))&lt;=10</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>TRM_EUR</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>TRM EUR</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;TRM (EUR): valor fuera del rango válido en campo de tipo numérico: longitud 15 y 0 decimal.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
    REGEX(TEXT({!TRM_EUR}), &quot;^[0-9]{1,15}$&quot;),
    {!TRM_EUR} &lt;= 999999999999999
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Componentes_euros_EUR_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Valor_Componentes_EUR_Sin_IVA</name>
                    <dataType>Number</dataType>
                    <fieldText>Valor Componentes EUR (Sin IVA)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Valor Componentes EUR (Sin IVA): valor fuera del rango válido en campo de tipo numérico: longitud 15 y 0 decimal.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!Valor_Componentes_EUR_Sin_IVA}))&lt;=15</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;Crea Totización&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Muestra mensaje de creación de cotización creada correctamente y con el número del consecutivo creado.</description>
        <name>Mensaje_de_exito</name>
        <label>Mensaje de éxito</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MensajeExito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Se &lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;ha creado una nueva cotizaciòn con éxito. Cotización No.:  &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Obtener_Name_Cotizacion_Creada.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Clic &lt;/strong&gt;&lt;a href=&quot;/{!Crea_Registro_Cotizacion}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;Aquí&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; para abrir el registro.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtiene_Oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ObjetoCotizacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cotizaci_n__c</objectType>
    </variables>
    <variables>
        <description>Variable que me permite obtener el dato del campo Name del objeto cotizaciones.</description>
        <name>ObtenerName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cotizaci_n__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
