force-app/main/default/flows/Cuenta_Inactivar_cuando_lleve_m_s_de_un_a_o_sin_actividad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Ha_existido_actividad</name>
        <label>¿Ha existido actividad?</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>En_la_cuenta_directamente_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidacionDiferenciaDias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Estado</targetReference>
            </connector>
            <label>En la cuenta directamente. no</label>
        </rules>
        <rules>
            <name>En_las_tareas_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidacionDiferenciaDiasTarea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_1_de_Actualizar_Estado</targetReference>
            </connector>
            <label>En las tareas, no</label>
        </rules>
        <rules>
            <name>En_la_Oportunidad_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidacionDiferenciaDiasOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_2_de_Actualizar_Estado</targetReference>
            </connector>
            <label>En la Oportunidad, no</label>
        </rules>
        <rules>
            <name>En_los_Contactos_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidacionDiferenciadiasContacto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_3_de_Actualizar_Estado</targetReference>
            </connector>
            <label>En los Contactos, no</label>
        </rules>
        <rules>
            <name>En_los_eventos_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidacionDiferenciaDiasEvento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copia_4_de_Actualizar_Estado</targetReference>
            </connector>
            <label>En los eventos, no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ValidacionDiferenciaDias</name>
        <dataType>Boolean</dataType>
        <expression>IF(TODAY() - {!$Record.LastActivityDate}&gt; 365, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>ValidacionDiferenciadiasContacto</name>
        <dataType>Boolean</dataType>
        <expression>IF(TODAY() - DATEVALUE({!Obtener_Contacto.LastModifiedDate})&gt; 365, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>ValidacionDiferenciaDiasEvento</name>
        <dataType>Boolean</dataType>
        <expression>IF(TODAY() - DATEVALUE({!Obtener_Eventos.LastModifiedDate})&gt; 365, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>ValidacionDiferenciaDiasOportunidad</name>
        <dataType>Boolean</dataType>
        <expression>IF(TODAY() - DATEVALUE({!Obtener_oportunidad.LastModifiedDate})&gt; 365, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>ValidacionDiferenciaDiasTarea</name>
        <dataType>Boolean</dataType>
        <expression>IF(TODAY() - DATEVALUE({!Obtener_tareas.LastModifiedDate})&gt; 365, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Cuenta: Inactivar cuando lleve más de un año sin actividad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cuenta: Inactivar cuando lleve más de un año sin actividad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Contacto</name>
        <label>Obtener Contacto</label>
        <locationX>710</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Eventos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Eventos</name>
        <label>Obtener Eventos</label>
        <locationX>710</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ha_existido_actividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_oportunidad</name>
        <label>Obtener oportunidad</label>
        <locationX>710</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_tareas</name>
        <label>Obtener tareas</label>
        <locationX>710</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado</name>
        <label>Actualizar Estado</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Estado_de_Cuenta__c</field>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_1_de_Actualizar_Estado</name>
        <label>Copia 1 de Actualizar Estado</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Estado_de_Cuenta__c</field>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_2_de_Actualizar_Estado</name>
        <label>Copia 2 de Actualizar Estado</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Estado_de_Cuenta__c</field>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_3_de_Actualizar_Estado</name>
        <label>Copia 3 de Actualizar Estado</label>
        <locationX>842</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Estado_de_Cuenta__c</field>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copia_4_de_Actualizar_Estado</name>
        <label>Copia 4 de Actualizar Estado</label>
        <locationX>1106</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Estado_de_Cuenta__c</field>
            <value>
                <stringValue>Inactiva</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_tareas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado_de_Cuenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activa</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-16</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
