force-app/main/default/flows/Oportunidad_Creaci_n_de_Contrato_Nuevo_cuando_la_Oportunidad_se_Oferta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Obtener_tiempo_de_Vigencia</name>
        <label>Obtener tiempo de Vigencia</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VigenciaCot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Cotizaci_n_Sincronizada.Vigencia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creaci_n_de_Contrato</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalculoMesesSegunVigencia</name>
        <dataType>Number</dataType>
        <expression>IF(ISPICKVAL({!Obtener_Cotizaci_n_Sincronizada.Vigencia__c}, &quot;15 Días&quot;), CEILING(({!Dia_Creacion}+15 -{!Dia_Creacion})/30), IF(ISPICKVAL({!Obtener_Cotizaci_n_Sincronizada.Vigencia__c}, &quot;30 Días&quot;), CEILING(({!Dia_Creacion}+30 -{!Dia_Creacion})/30), IF(ISPICKVAL({!Obtener_Cotizaci_n_Sincronizada.Vigencia__c}, &quot;60 Días&quot;), CEILING(({!Dia_Creacion}+60 -{!Dia_Creacion})/30), IF(ISPICKVAL({!Obtener_Cotizaci_n_Sincronizada.Vigencia__c}, &quot;90 Días&quot;), CEILING(({!Dia_Creacion}+90 -{!Dia_Creacion})/30), IF(ISPICKVAL({!Obtener_Cotizaci_n_Sincronizada.Vigencia__c}, &quot;120 Días&quot;), CEILING(({!Dia_Creacion}+120 -{!Dia_Creacion})/30), IF(ISPICKVAL({!Obtener_Cotizaci_n_Sincronizada.Vigencia__c}, &quot;150 Días&quot;), CEILING(({!Dia_Creacion}+150 -{!Dia_Creacion})/30), IF(ISPICKVAL({!Obtener_Cotizaci_n_Sincronizada.Vigencia__c}, &quot;180 Días&quot;), CEILING(({!Dia_Creacion}+180 -{!Dia_Creacion})/30), 1)))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Dia_Creacion</name>
        <dataType>Date</dataType>
        <expression>{!$Record.LastStageChangeDate}</expression>
    </formulas>
    <interviewLabel>Oportunidad: Creación de Contrato Nuevo cuando la Oportunidad se Oferta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad: Creación de Contrato Nuevo cuando la Oportunidad se Oferta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creaci_n_de_Contrato</name>
        <label>Creación de Contrato</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>CalculoMesesSegunVigencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_del_Proyecto__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Dia_Creacion</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_Cotizaci_n_Sincronizada</name>
        <label>Obtener Cotización Sincronizada</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_tiempo_de_Vigencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cotizaci_n__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sincronizar_Cotizaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotizaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Cotizaci_n_Sincronizada</targetReference>
        </connector>
        <filterLogic>(3 AND 4) AND (1 OR 2)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ofertada Presupuestal</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ofertada Compra</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contador_Contratos_Aprobados__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VigenciaCot</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
