force-app/main/default/flows/Oportunidad_Limpiar_Cotizaci_n_al_desincronizar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>LimpiarCampo</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>LimpiarCampoCurrency</name>
        <dataType>Currency</dataType>
    </constants>
    <constants>
        <name>LimpiarCampoFecha</name>
        <dataType>Date</dataType>
    </constants>
    <decisions>
        <name>Ya_existe_una_cotizaci_n_Sincronizada</name>
        <label>¿Ya existe una cotización Sincronizada?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Conteo_Cotizaci_n_Sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Valores_de_Oportunidad</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidad: Limpiar Cotización al desincronizar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad: Limpiar Cotización al desincronizar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_hoja_de_calificaci_n</name>
        <label>Obtener hoja de Cotizacion</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ya_existe_una_cotizaci_n_Sincronizada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cotizaci_n__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotizaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Valores_de_Cotizaci_n</name>
        <label>Actualizar Valores de Cotización</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sincronizar_Cotizaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sincronizar_Cotizaci_n__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Cotizaci_n__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Valores_de_Oportunidad</name>
        <label>Actualizar Valores de Oportunidad</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Actualizar_Valores_de_Cotizaci_n</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>LimpiarCampoCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C_digo_de_Cotizaci_n__c</field>
            <value>
                <elementReference>LimpiarCampo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_Ofertada__c</field>
            <value>
                <elementReference>LimpiarCampoFecha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_ltima_Revisi_n__c</field>
            <value>
                <elementReference>LimpiarCampoFecha</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IVA_Pesos_COP__c</field>
            <value>
                <elementReference>LimpiarCampoCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ingenieros_de_Ofertas__c</field>
            <value>
                <elementReference>LimpiarCampo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margen_de_Venta__c</field>
            <value>
                <elementReference>LimpiarCampoCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valor_Sin_IVA_Pesos__c</field>
            <value>
                <elementReference>LimpiarCampoCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_hoja_de_calificaci_n</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sync_Cotizaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sync_Cotizaci_n__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
